body{
    font-family:Arial;
    background-color: skyblue;
    overscroll-behavior: none;
}

#content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#buttons{
    text-align: left;
}

.img-size{
    border: 3px solid black;
}

.colours{
    transform: translate(0%, 10%);
    width:40px;
    height:41px;
}

.img-size img{
    width:30px;
    height:30px;
}

#submit img{
    width:60px;
    height:60px;
}

#submit {
    background-image: linear-gradient(to bottom right, blue, pink);
}
#submit:hover{
    background-image: linear-gradient(to bottom right, pink, blue);
}

#refresh{
    background-image: linear-gradient(to top right, #E47780, #1293CE);
}
#refresh:hover{
    background-image: linear-gradient(to top right, #1293CE, #E47780);
}

#undo{
    background-image: linear-gradient(to bottom right, #FFE95C, #598588);
}
#undo:hover{
    background-image: linear-gradient(to bottom right, #598588, #FFE95C);
}

#randColour{
    background-image: linear-gradient(30deg, #C6D2ED, #6A3483);
}
#randColour:hover{
    background-image: linear-gradient(120deg, #6A3483, #C6D2ED);
}