body{
    font-family:Arial;
    background-color: skyblue;
    overscroll-behavior: none;
}

#content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#buttons{
    text-align: left;
}

.img-size{
    border: 3px solid black;
}

.colours{
    transform: translate(0%, 10%);
    width:40px;
    height:41px;
}

.img-size img{
    width:30px;
    height:30px;
}